html,
body {
  margin: 0;
}

html {
  font-size: 2.3vmin;
}

#intro {
  position: absolute;
  top: 33%;
  width: 100%;
  z-index: 100;
  display: none;
  -webkit-animation: out 1 5s forwards;
          animation: out 1 5s forwards;
}

#intro mark {
  border-radius: 0.33em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.125em 0.5em;
  display: inline-block;
}

@-webkit-keyframes out {
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes out {
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
body.boss #game {
  background-color: #aaa;
}
body.boss #game hr#boss {
  opacity: 1;
  -webkit-animation: beam 2s steps(4) infinite;
          animation: beam 2s steps(4) infinite;
}
body.boss #game h2 #msg {
  background-color: #fff;
  padding: 0.25rem 0rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0.125em solid #aaa;
}

body {
  width: 100%;
  width: calc(133vmin);
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-family: monospace;
  /*#game*/
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h2,
body button,
body button a,
body button:active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body #game {
  margin: auto;
  overflow: hidden;
  transition: background 2s;
  width: 100%;
  vertical-align: middle;
  position: relative;
  text-align: center;
  background-color: #bbb;
  /*clouds src in js*/
  background-repeat: repeat-x, repeat-x;
  background-size: 50% auto, 25% auto;
  background-position: 0 -6.25%, -12.5% 0;
  -webkit-animation: sky 5s steps(10) infinite;
          animation: sky 5s steps(10) infinite;
  box-shadow: inset 0 -64px 64px -48px #333;
}
@-webkit-keyframes sky {
  100% {
    background-position: -100% -6.25%, -112.5% 0;
  }
}
@keyframes sky {
  100% {
    background-position: -100% -6.25%, -112.5% 0;
  }
}
body #game hr#boss {
  z-index: 0;
  display: block;
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*beam src in js*/
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 0, 100% 0;
  background-position: 50% 0, 50% 0;
}
@-webkit-keyframes beam {
  50% {
    background-size: 100% 50%, 100% 25%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes beam {
  50% {
    background-size: 100% 50%, 100% 25%;
  }
  100% {
    opacity: 0;
  }
}
body #game canvas {
  position: relative;
  width: 100%;
  z-index: 1;
}
body #game #logo {
  position: absolute;
  bottom: 50%;
  width: 33.33%;
  left: 33.33%;
  opacity: 1;
  z-index: 99;
  transition: opacity 1s 2s;
  z-index: 3;
}
body #game img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
body #game form {
  background: #666;
}
body #game label {
  font-size: 1rem;
  color: #bbb;
  display: inline-block;
}
body #game input {
  border: 0;
  display: inline;
  width: 2.2em;
  font-size: 1.25em;
  margin: 0 0.125rem;
  padding: 0.125rem 0.25rem;
  border-radius: 0;
  background: transparent;
  color: #bbb;
  font-weight: bold;
  font-family: monospace;
}
body #game button {
  transition: bottom 1s;
  position: relative;
  overflow: hidden;
  font-family: monospace;
  height: 12%;
  font-size: 2rem;
  line-height: 1em;
  background-color: #bbb;
  color: #333;
  text-shadow: 0 -0.05em #fff;
  box-shadow: inset 0 -0.125em 0.05em rgba(0, 0, 0, 0.5);
  border: 0.125rem solid #666;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  z-index: 99;
}
body #game button:disabled {
  opacity: 0.5;
  bottom: -12%;
}
body #game button a {
  position: relative;
  z-index: 1;
  color: #333;
  text-decoration: none;
}
body #game .link {
  top: 66%;
  left: 42.5%;
  width: 15%;
  position: absolute;
  padding: 0.25em;
  color: #666;
  z-index: 2;
  display: none;
}
body #game .hit {
  position: absolute;
  border: 0;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 0;
  border-radius: 100%;
  -webkit-animation: glow 400ms 1 forwards;
          animation: glow 400ms 1 forwards;
}
@-webkit-keyframes glow {
  25% {
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    opacity: 0;
  }
}
@keyframes glow {
  25% {
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    opacity: 0;
  }
}
body #game .shots {
  position: absolute;
  min-width: 20%;
  bottom: 0;
  z-index: 3;
}
body #game .lt {
  left: 0;
  border-top-right-radius: 0.5em;
}
body #game .rt {
  right: 0;
  border-top-left-radius: 0.5em;
}
body #game #stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
body #game h2 {
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 0;
  color: #bbb;
  z-index: 2;
}
body #game .start {
  position: absolute;
  bottom: 33.33%;
  min-width: 50%;
  left: 25%;
}

.hide {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
}

.hide img,
.hide svg {
  opacity: 0;
  position: absolute;
  bottom: 1.7rem;
  z-index: 1;
}

#spats.load {
  opacity: 1;
  width: 8%;
  height: auto;
  left: 46%;
}
#spats.load #antennae,
#spats.load #head {
  -webkit-animation: wait 2.5s infinite alternate;
          animation: wait 2.5s infinite alternate;
}
#spats.load #eyeL,
#spats.load #eyeR {
  transform-origin: 32px 32px;
  -webkit-animation: blinks 5s infinite alternate ease-in-out;
          animation: blinks 5s infinite alternate ease-in-out;
}

@-webkit-keyframes wait {
  100% {
    transform: translateY(6%);
  }
}

@keyframes wait {
  100% {
    transform: translateY(6%);
  }
}
@-webkit-keyframes blinks {
  95% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.125);
  }
}
@keyframes blinks {
  95% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.125);
  }
}
#eyes,
#eyeR,
#eyeL {
  transform-origin: 50% 33%;
}

#story {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#story .g {
  height: 100%;
}
#story .g div {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0%;
  font-size: 18rem;
}
#story .g .texture {
  display: none;
  box-shadow: none;
}
#story .g .texture.air, #story .g .texture.space, #story .g .texture.fire, #story .g .texture.earth, #story .g .texture.water {
  display: block;
}
#story .g .texture svg.icon {
  width: 100%;
  height: 100%;
}
#story .g .texture.air svg.icon {
  -webkit-filter: sepia(50%) saturate(150%) hue-rotate(0deg);
  -webkit-animation: color 60s infinite;
          animation: color 60s infinite;
}
#story .g .texture:before {
  filter: blur(0.05em);
}
#story .g .ship {
  color: transparent;
  left: -0.5em;
}
#story + #fps {
  position: absolute;
}

@-webkit-keyframes color {
  to {
    filter: sepia(50%) saturate(150%) hue-rotate(360deg);
  }
}

@keyframes color {
  to {
    filter: sepia(50%) saturate(150%) hue-rotate(360deg);
  }
}